@charset "utf-8";
/* CSS Document */
body {
  margin: 0px;
  padding: 0px;
  background-color: #f1f1f1;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
header {
  background-color: #ffffff;
  box-sizing: border-box;
  width: 100%;
  padding: 0px 30px;
  display: flex;
  align-items: center;
}
.logo {
  border-right: 1px solid #e7e7e7;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  padding-right: 10px;
  font-weight: bold;
  font-family: RoadTest;
  letter-spacing: 5px;
  color: #3d3d3d;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul {
  display: flex;
  margin: 0px;
  padding: 0px;
}
.menu {
  display: flex;
  align-items: center;
}

.menu ul li a {
  border-right: 1px solid #e7e7e7;
  height: 50px;
  line-height: 50px;
  margin: 0px;
  padding: 0px 20px;
  display: flex;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: calibri;
  color: #5f5f5f;
}
.menu ul li a:hover {
  background-color: #e8e8e8;
  color: #3f3f3f;
}
.menu {
  margin-right: auto;
}
.search-icon:before {
  content: "\f002";
  font-family: fontAwesome;
  line-height: 30px;
  color: #474747;
}
.search-icon.active:before {
  content: "\f00d";
}

.menu ul li ul {
  position: absolute;
  left: 0;
  background-color: #161616;
  flex-direction: column;

  display: none !important;
}
.menu ul li {
  position: relative;
}

.menu ul li ul li {
  display: block;
  width: 200px;
}
.menu ul li ul li a {
  color: #acacac !important;
  border-bottom: 1px solid #424242;
}
.menu ul li.active ul {
  display: block !important;
}

.menu ul li ul li a:hover {
  background-color: #1d1d1d !important;
  color: #d1d1d1 !important;
}

.sub-menu:before {
  content: "\f0d7";
  font-family: fontAwesome;

  position: absolute;
  line-height: 50px;
  font-size: 12px;
  color: #727272;
  right: 10px;
}

.search-box {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  background-color: #2a2829;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  display: none;
  padding: 0px 30px 0px 30px;
  transition: all ease 0.5s;
}
.navigation {
  position: relative;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.01);
}
.search-box input {
  width: 70%;
  height: 50px;
  outline: none;
  background: transparent;
  border: none;
  color: #e3e3e3;
  font-size: 16px;
}

.s-icon {
  color: #cdcdcd;
}
.search-box input::placeholder {
  color: #afafaf;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}
.search-box.active {
  display: flex;
}

@media (max-width: 900px) {
  .toggle:before {
    content: "\f0c9";
    font-family: fontAwesome;
    line-height: 30px;
    display: none;
  }

  .logo {
    border: none;
  }
  .menu {
    margin-right: 0px !important;
  }
  header nav ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);
    background-color: #353535;
    top: 50px;
    left: 0;
    transition: 0.5s;
    display: block !important;
    overflow: hidden;
    display: none !important;
  }

  header {
    display: flex;
    justify-content: space-between;
  }
  nav ul li a {
    border-bottom: 1px solid #474747;
    border-right: none !important;
    color: #bebebe !important;
  }

  .toggle.active:before {
    content: "\f00d" !important;
  }
  nav ul li a:hover {
    background-color: #2f2f2f !important;
  }
  header.active-menu ul {
    display: block !important;
  }
  .toggle:before {
    display: block;
  }
  header.active-menu,
  header.active-search {
    background-color: #353535;
    height: 50px;
    color: #ffffff;
  }
  .search-icon.active:before {
    color: #ffffff;
  }

  .menu ul li ul {
    position: relative;
    top: 0px;
    height: auto;
  }
  .menu ul li ul li {
    width: 100%;
  }

  header.active-menu .logo,
  header.active-menu .search-icon {
    display: none;
  }
  header.active-search .logo,
  header.active-search .toggle {
    display: none;
  }
}
