@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;600;700&family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --primaryColor: #6351ce;
  --primaryColorLight: #5a67d8;
  --mainWhite: #ffffff;
  --mainGray: #cbd5e0;
  --grayLight: #edf2f7;
  --mainBlack: #161c27;
  --blackLight: #202838;
  --mainMargin: 16px;
  --mainTransition: all 0.2s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0 solid var(--mainGray);
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Open Sans", sans-serif;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--grayLight);
  height: 70px;
  padding: var(--mainMargin);
}

.search-container span:hover {
  background-color: var(--mainBlack);
  padding: 2px 10px;
  fill: #ffffff;
  transition: all 0.3s ease-in-out;
}

.search-container ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}

.search-container ul li {
  cursor: pointer;
  margin: 0 var(--mainMargin);
  position: relative;
}

.search-container ul li a {
  color: var(--mainBlack);
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  transition: opacity 200ms ease-in-out;
  overflow: hidden;
}

.search-container ul li a::after {
  background-color: var(--primaryColor);
  border-radius: 3px;
  content: "";
  display: block;
  height: 3px;
  margin-top: 3px;
  transition: width 0.2s ease-in-out;
  width: 0%;
}

.search-container ul li a.current::after {
  width: 100%;
}

.search-container ul li a:hover::after {
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--mainBlack);
  padding: var(--mainMargin);
  position: sticky;
  top: 0;
  z-index: 1;
}

nav a {
  text-decoration: none;
}

.container-main-logo {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.container-main-logo span img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
}

.main-logo-caption {
  margin-left: 10px;
  text-align: left;
}

.main-logo-caption h3 {
  color: var(--mainWhite);
  font-size: 12px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}

nav ul li {
  cursor: pointer;
  margin: 0 var(--mainMargin);
  position: relative;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: opacity 200ms ease-in-out;
  overflow: hidden;
  padding: 5px;
}

nav ul li a::after {
  background-color: var(--primaryColor);
  border-radius: 3px;
  content: "";
  display: block;
  height: 25px;
  position: absolute;
  top: 0;
  transition: width 0.2s ease-in-out;
  width: 0%;
  z-index: -1;
}

nav ul li a.current::after {
  width: 100%;
}

nav ul li a:hover::after {
  width: 100%;
}

.navbar-toggle {
  display: none;
  height: 30px;
  width: 30px;
  transform: scale(0.7);
}

nav ul li .sub-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--blackLight);
  position: absolute;
  top: 24px;
  border-radius: 5px;
  padding: 20px;
  visibility: hidden;
  z-index: 6;
}

nav ul li .sub-menu ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

nav ul li > .sub-menu {
  left: -35px;
}

nav ul li .sub-menu.show-drop-down {
  visibility: visible;
}

nav ul li .sub-menu li {
  margin: 0;
  width: 180px;
}

nav ul li .sub-menu li a {
  display: inline-block;
  padding: 0;
}

nav ul li .sub-menu ul li a::after {
  background-color: var(--primaryColor);
  border-radius: 3px;
  content: "";
  display: block;
  height: 3px;
  margin-top: 3px;
  position: relative;
  transition: width 0.2s ease-in-out;
  width: 0%;
}

nav ul li .sub-menu li a:hover::after {
  width: 100%;
}

.perusahaan-container h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  text-align: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0 70px 0;
  padding: 0 50px;
}

.logo-item {
  margin: 10px 10px;
}

.previous {
  justify-content: flex-end;
}

.next {
  justify-content: flex-start;
}

.share-sosial-media-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primaryColor);
  padding: 30px 25px;
  width: 100%;
}

.sosial-media-connect-text {
  color: white;
  font-family: "Open-Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.sosial-media-icon-container {
  display: flex;
  flex-direction: row;
  height: 25px;
  width: min-content;
}

.sosial-media-connect-text {
  color: white;
  font-weight: 400;
}

.icon-sosial-media {
  margin: 0 10px;
}

.icon-sosial-media svg {
  height: 30px;
  width: 30px;
}

.icon-sosial-media img {
  height: 30px;
  width: 30px;
}

.icon-sosial-media svg path {
  fill: white;
}

.icon-sosial-media:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.footer-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1c2331;
  height: 100%;
  padding: 40px 25px;
}

.footer-detail-item {
  margin: 15px 0;
}

.footer-detail-item .title-footer-detail {
  border-bottom: 3px solid var(--primaryColor);
  display: inline-block;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 5px;
  margin-bottom: 30px;
}

.footer-detail-item p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.footer-detail-item ul {
  display: flex;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  list-style-type: none;
}

.footer-detail-item li {
  margin: 0 10px;
}

.footer-detail-item li a {
  color: white;
  text-decoration: none;
}

.footer-detail-item li a:hover {
  font-weight: 600;
  transition: font-weight 0.2s ease-in-out;
}

.image-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.image-footer img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
}

.image-footer .image-footer-caption {
  margin-left: 10px;
}

.image-footer .image-footer-caption h3 {
  color: var(--mainWhite);
  font-family: "Montserrat", sans-serif;
}

.image-footer .image-footer-caption h5 {
  color: var(--mainWhite);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.contact-footer span {
  color: var(--mainWhite);
  vertical-align: middle;
}

.contact-footer svg {
  height: 25px;
  vertical-align: middle;
  width: 25px;
}

.button-group {
  display: flex;
  justify-content: flex-end;
}

.btn {
  margin: 0 10px;
}

.btn-primary {
  border: none;
  border-radius: 5px;
  background-color: var(--primaryColor);
  padding: 16px;
}

.btn-primary:hover {
  background-color: #311b92;
  cursor: pointer;
}

.btn-primary a {
  text-decoration: none;
}

.btn-primary span {
  color: var(--mainWhite);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
}

.btn-secondary {
  background-color: var(--mainWhite);
  border: 1px solid var(--grayLight);
  border-radius: 5px;
  padding: var(--mainMargin);
}

.btn-secondary:hover {
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
}

.btn-secondary span {
  color: var(--mainBlack);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
}

/* Responsive breakpoint */

@media screen and (max-width: 1024px) {
  nav {
    display: block;
    height: 100%;
    padding: 20px 0;
    text-align: center;
  }

  nav ul {
    display: none;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: var(--mainMargin);
  }

  nav ul li a {
    padding: 0;
    margin-left: 0;
    position: relative;
  }

  nav ul li a::after {
    position: absolute;
  }

  nav ul li .sub-menu {
    align-items: center;
    left: 0;
    width: 100%;
  }

  nav ul li > .sub-menu {
    left: 0px;
  }

  nav ul li .sub-menu li {
    padding: 5px 0;
  }

  .navbar-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 45px;
  }

  .line {
    width: 40px;
    height: 3px;
    background:var(--mainWhite);
    transition: all 0.5s ease-in-out;
  }

  .line:nth-child(1) {
    transform-origin: 0 0;
  }

  .line:last-child {
    transform-origin: 0 100%;
  }

  .active {
    display: block;
  }

  .navbar-toggle.open .line:nth-child(1) {
    transform: rotate(45deg) translate(-1px, 0px);
  }

  .navbar-toggle.open .line:nth-child(2) {
    transform: scale(0);
  }

  .navbar-toggle.open .line:last-child {
    transform: rotate(-45deg) translate(-1px, -1px);
  }

  .footer-detail-item ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-detail-item li {
    margin: 0 0 10px 0;
  }
}

@media screen and (max-width: 640px) {
  .logo-container {
    padding: 0;
  }

  .footer-sosial-media-container {
    flex-direction: column;
    padding: 30px 0;
  }

  .sosial-media-connect-text {
    margin-bottom: 25px;
  }

  .share-sosial-media-container {
    flex-direction: column;
  }

  .footer-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-detail-item {
    margin: 15px 15px;
    text-align: center;
  }

  .footer-detail-item .title-footer-detail {
    border-bottom: 3px solid var(--primaryColor);
    display: inline-block;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 5px;
    margin-bottom: 30px;
  }

  .footer-detail-item p {
    color: white;
  }

  .footer-detail-item ul {
    list-style-type: none;
  }

  .footer-detail-item li a {
    color: white;
    text-decoration: none;
  }

  .contact-footer span {
    color: white;
    vertical-align: middle;
  }

  .contact-footer svg {
    height: 25px;
    vertical-align: middle;
    width: 25px;
  }

  .button-group {
    justify-content: center;
  }
}
