@import "global.css";

.carousel-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.carousel-slide {
  display: flex;
  height: 500px;
}

.carousel-container span svg {
  height: 100px;
  width: 100px;
}

#prevSlideButton {
  position: absolute;
  left: 5%;
  z-index: 2;
}

#nextSlideButton {
  position: absolute;
  right: 5%;
  z-index: 2;
}

.carousel-slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.carousel-container::before {
  content: "";
  width: 100%;
  height: 500px;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.home-header-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  padding: 30px 30px;
}

.home-header-panel .panel-item-col {
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: center;
  justify-content: space-around;
}

.home-header-panel .item-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-panel .item-panel-image {
  height: 100px;
  margin: 10px 0;
  width: 100px;
  position: relative;
  overflow: hidden;
}

.item-panel-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.item-panel-text {
  color: #6351ce;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}

.item-panel-text:hover {
  color: #161c27;
}

.topik-utama-container {
  margin: 80px 25px;
  padding: 0 15px;
}

.topik-utama-container h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
}

.topik-utama-container h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  margin-bottom: 30px;
}

.topik-utama-container .item-card-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 -15px;
}

.topik-utama-container .item-card-column {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
  margin: 15px 15px;
  flex-basis: 30%;
  flex-grow: 1;
}

.topik-utama-container .item-card-image {
  border-radius: 10px 10px 0 0;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.item-card-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.item-card-text {
  padding: 20px 20px;
  text-align: left;
}

.item-card-text h3 {
  margin-bottom: 15px;
}

.item-card-text p {
  margin-bottom: 25px;
}

.item-card-text a {
  color: #6351ce;
  font-weight: 600;
  text-decoration: none;
}

.item-card-text a:hover {
  color: #161c27;
}

/* Responsive breakpoint */

@media screen and (max-width: 1024px) {
  .home-header-detail h1 {
    font-size: 50px;
    padding: 0 25px;
  }

  .home-header-panel {
    flex-direction: column;
    align-items: center;
  }

  .home-header-panel .panel-item-col {
    flex-direction: row;
    margin: 10px 0;
    width: 100%;
  }

  .topik-utama-container {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .topik-utama-container .item-card-row {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .topik-utama-container .item-card-column {
    flex-basis: 45%;
  }
}

@media screen and (max-width: 640px) {
  .home-header-detail h1 {
    font-size: 40px;
  }

  .topik-utama-container .item-card-row {
    flex-direction: column;
  }
}
