@import "global.css";

.home-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/main-header-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
  z-index: 0;
}

.home-header::before {
  content: "";
  width: 100%;
  height: 500px;
  background: rgba(0, 0, 0, 0.71);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.home-header-detail h1 {
  color: white;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
}

.home-header-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -100px;
  padding: 30px 30px;
  position: relative;
  z-index: 0;
}

.home-header-panel .panel-item-col {
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: center;
  justify-content: space-around;
}

.home-header-panel .item-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-panel .item-panel-image {
  border-radius: 50%;
  height: 100px;
  margin: 10px 0;
  width: 100px;
  position: relative;
  overflow: hidden;
}

.item-panel-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.item-panel-text {
  color: #6351ce;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}

.item-panel-text:hover {
  color: #161C27;
}

.topik-utama-container {
  margin: 80px 25px;
  padding: 0 15px;
}

.topik-utama-container h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
}

.topik-utama-container .item-card-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 -15px;
}

.topik-utama-container .item-card-column {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
  margin: 0 15px;
  width: 33.33%
}

.topik-utama-container .item-card-image {
  border-radius: 10px 10px 0 0;
  height: 50%;
  position: relative;
  overflow: hidden;
}

.item-card-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.item-card-text {
  padding: 20px 20px;
  text-align: left;
}

.item-card-text h3 {
  margin-bottom: 15px;
}

.item-card-text p {
  margin-bottom: 25px;
}

.item-card-text a {
  color: #6351ce;
  font-weight: 600;
  text-decoration: none;
}

.item-card-text a:hover {
  color: #161C27;
}

/* Responsive breakpoint */

@media screen and (max-width: 1024px) {
  .home-header-detail h1 {
    font-size: 50px;
    padding: 0 25px;
  }

  .home-header-panel {
    flex-direction: column;
    align-items: center;
  }
  
  .home-header-panel .panel-item-col {
    flex-direction: row;
    margin: 10px 0;
    width: 100%;
  }
  
  .topik-utama-container .item-card-row {
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .topik-utama-container .item-card-column {
    margin: 20px 0;
    width: 90%;
  }
}

@media screen and (max-width: 640px) {  
  .home-header-detail h1 {
    font-size: 40px;
  }
}