@import "global.css";

.nav-panel-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-image: url("../assets/images/loker.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  padding: 25px 25px;
  position: relative;
  z-index: 0;
}

.nav-panel-container::before {
  content: "";
  width: 100%;
  height: 200px;
  background: rgba(0, 0, 0, 0.71);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.nav-panel-container h2 {
  color: white;
  font-size: 44px;
}

.breadcrumb .item a {
  color: white;
  text-decoration: none;
}

.breadcrumb .item span {
  color: white;
  text-decoration: none;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 80px;
}

.side-bar {
  flex-basis: 20%;
  background-color: #6351ce;
  height: fit-content;
}

.side-bar ul li {
  border-bottom: 1px solid #161c27;
  list-style-type: none;
}

.side-bar ul li:hover {
  background-color: #434190;
  transition: 0.4s ease-in-out;
}

.side-bar ul li a {
  display: block;
  color: white;
  padding: 15px 15px;
  text-decoration: none;
}

.info-magang-container {
  display: flex;
  flex-direction: column;
  flex-basis: 75%;
  justify-content: center;
  align-items: center;
}

.info-magang-container h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  margin-bottom: 30px;
  align-self: flex-start;
}

.info-magang-container .card-magang-row {
  display: flex;
  flex-basis: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 -15px;
}

.info-magang-container .card-magang-column {
  flex-basis: 45%;
  flex-grow: 1;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
  margin: 0 15px 40px 15px;
}

.info-magang-container .image-magang {
  border-radius: 10px 10px 0 0;
  height: 250px;
  position: relative;
  overflow: hidden;
}

.info-magang-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.info-item-magang-container {
  padding: 15px 15px;
  text-align: left;
}

.text-durasi-magang {
  border: 1px solid black;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  padding: 4px;
}

.text-job-desc {
  color: #6351ce;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  margin: 20px 0 35px 0;
  text-decoration: none;
}

.text-company-hiring {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}

.more-info-item-magang {
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
  padding: 15px 15px;
}

.more-info-item-magang span {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

/* Responsive breakpoint */

@media screen and (max-width: 1168px) {
  .text-job-desc {
    font-size: 18px;
  }
}

@media screen and (max-width: 1024px) {
  .content-container {
    flex-direction: column;
    padding: 40px 40px;
  }
  
  .side-bar {
    margin-bottom: 30px;
  }

  .info-item-magang-container {
    padding: 15px 15px;
  }

  .info-magang-container .card-magang-row {
    flex-direction: row;
  }

  .more-info-item-magang {
    padding: 15px 15px;
  }
}

@media screen and (max-width: 760px) {
  .text-job-desc {
    font-size: 16px;
  }

  .more-info-item-magang span {
    font-size: 10px;
  }
}

@media screen and (max-width: 640px) {
  .info-magang-container .card-magang-row {
    flex-direction: column;
  }

  .text-job-desc {
    font-size: 24px;
  }

  .more-info-item-magang span {
    font-size: 12px;
  }

  .info-magang-container h3 {
    font-size: 24px;
  }
}
