@import "global.css";

.nav-panel-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-image: url("../assets/images/magang.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  padding: 25px 25px;
  position: relative;
  z-index: 0;
}

.nav-panel-container::before {
  content: "";
  width: 100%;
  height: 200px;
  background: rgba(0, 0, 0, 0.71);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.nav-panel-container h2 {
  color: white;
  font-size: 44px;
}

.breadcrumb .item a {
  color: white;
  text-decoration: none;
}

.breadcrumb .item span {
  color: white;
  text-decoration: none;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 80px;
}

.side-bar {
  flex-basis: 20%;
  background-color: #6351ce;
  height: fit-content;
}

.side-bar ul li {
  border-bottom: 1px solid #161c27;
  list-style-type: none;
}

.side-bar ul li:hover {
  background-color: #434190;
  transition: 0.4s ease-in-out;
}

.side-bar ul li a {
  display: block;
  color: white;
  padding: 15px 15px;
  text-decoration: none;
}

.info-magang-container {
  display: flex;
  flex-direction: column;
  flex-basis: 75%;
  justify-content: center;
}

.info-magang-container .card-magang-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 -15px;
  width: 100%;
}

.info-magang-container .card-magang-column {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
  margin: 0 15px 40px 15px;
  width: 50%;
}

.info-magang-container .image-magang {
  border-radius: 10px 10px 0 0;
  height: 50%;
  position: relative;
  overflow: hidden;
}

.info-magang-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.info-item-magang-container {
  padding: 15px 15px;
  text-align: left;
}

.text-durasi-magang {
  border: 1px solid black;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  padding: 4px;
}

.text-job-desc {
  color: #6351ce;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  margin: 20px 0 35px 0;
  text-decoration: none;
}

.text-company-hiring {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}

.more-info-item-magang {
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
  padding: 15px 15px;
}

.more-info-item-magang span {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

.daftar-magang-container {
  display: flex;
  flex-direction: column;
  flex-basis: 75%;
  justify-content: center;
}

.daftar-magang-container h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  margin-bottom: 10px;
  text-align: left;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: inline-block;
  margin-bottom: 12px;
}

.form-group .control-label {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

form .form-control {
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 5px;
  color: #495057;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: 0;
  padding: 8px 15px;
  transition: border-color 0.15s ease-in-out;
  width: 100%;
}

form .form-control:focus {
  border: 3px solid #b39ddb;
}

.form-title {
  margin: 38px 0 10px 0;
}

.form-title h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
}

.form-title hr {
  border: 0;
  border-top: 1px solid #ced4da;
  margin: 20px 0;
}

.form-group-file {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.file {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 2.5rem;
}

input#file {
  display: none;
}

.file-custom {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  border: 0.075rem solid #ced4da;
  border-radius: 0.25rem;
  user-select: none;
}

.file-custom:hover {
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.05);
}

.file-custom:before {
  position: absolute;
  top: -0.075rem;
  right: -0.075rem;
  bottom: -0.075rem;
  z-index: 6;
  display: block;
  content: "Browse";
  padding: 0.5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #eee;
  border: 0.075rem solid #ced4da;
  border-radius: 0 0.25rem 0.25rem 0;
}

.file-custom:after {
  content: "Choose file...";
}

.form-group-date input {
  font-size: 15px;
  padding: 8px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 16px;
}

/* Responsive breakpoint */

@media screen and (max-width: 1168px) {
  .text-job-desc {
    font-size: 18px;
  }
}

@media screen and (max-width: 1024px) {
  .content-container {
    flex-direction: column;
    padding: 40px 40px;
  }

  .article {
    flex-basis: 100%;
  }

  .side-bar {
    margin-bottom: 30px;
  }

  .info-item-magang-container {
    padding: 15px 15px;
  }

  .info-magang-container .card-magang-row {
    flex-direction: row;
  }

  .info-magang-container .card-magang-column {
    width: 100%;
  }

  .more-info-item-magang {
    padding: 15px 15px;
  }
}

@media screen and (max-width: 760px) {
  .text-job-desc {
    font-size: 16px;
  }

  .more-info-item-magang span {
    font-size: 10px;
  }
}

@media screen and (max-width: 640px) {
  .info-magang-container .card-magang-row {
    flex-direction: column;
  }

  .text-job-desc {
    font-size: 24px;
  }

  .more-info-item-magang span {
    font-size: 12px;
  }
}
