@import "global.css";

.nav-panel-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-image: url("../assets/images/history-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  padding: 25px 25px;
  position: relative;
  z-index: 0;
}

.nav-panel-container::before {
  content: "";
  width: 100%;
  height: 200px;
  background: rgba(0, 0, 0, 0.71);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.nav-panel-container h2 {
  color: white;
  font-size: 44px;
}

.breadcrumb .item a {
  color: white;
  text-decoration: none;
}

.breadcrumb .item span {
  color: white;
  text-decoration: none;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 80px;
}

.side-bar {
  flex-basis: 20%;
  background-color: #6351ce;
  height: fit-content;
}

.side-bar ul li {
  border-bottom: 1px solid #161c27;
  list-style-type: none;
}

.side-bar ul li:hover {
  background-color: #434190;
  transition: 0.4s ease-in-out;
}

.side-bar ul li a {
  display: block;
  color: white;
  padding: 15px 15px;
  text-decoration: none;
}

.article {
  display: flex;
  flex-direction: column;
  flex-basis: 75%;
}

.article-main-image {
  border-radius: 10px 10px 0 0;
  position: relative;
  overflow: hidden;
}

.article-main-image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.article-text {
  padding: 20px 0;
}

.article-text h3 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
}

.article-text p {
  text-align: justify;
}

/* Respopnsive breakpoint */

@media screen and (max-width: 1024px) {
  .content-container {
    flex-direction: column;
    padding: 40px 40px;
  }

  .side-bar {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 640px) {
  .article {
    flex-basis: 100%;
  }
}
